## Assignment 17 Feb

**1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?**

**Ans-** MongoDB is a source-available cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with optional schemas. MongoDB is developed by MongoDB Inc. and licensed under the Server Side Public License (SSPL) which is deemed non-free by several distributions.

Records in a MongoDB database are called documents, and the field values may include numbers, strings, booleans, arrays, or even nested documents.

Documents in Mongodb

{
	title: "Post Title 1",
	body: "Body of post.",
	category: "News",
	likes: 1,
	tags: ["news", "events"],
	date: Date()
}

**A non-relational database** stores data in a non-tabular form, and tends to be more flexible than the traditional, SQL-based, relational database structures. It does not follow the relational model provided by traditional relational database management systems. Non-relational databases are often used when large quantities of complex and diverse data need to be organized. For example, a large store might have a database in which each customer has their own document containing all of their information, from name and address to order history and credit card information. Despite their differing formats, each of these pieces of information can be stored in the same document. 

Non-relational databases often perform faster because a query doesn’t have to view several tables in order to deliver an answer, as relational datasets often do. Non-relational databases are therefore ideal for storing data that may be changed frequently or for applications that handle many different kinds of data. They can support rapidly developing applications requiring a dynamic database able to change quickly and to accommodate large amounts of complex, unstructured data.

Scenarios it is preferred to use MongoDB over SQL databases:

1. In future, system is growing big then Mongdb has built in sharding to structure your memory performance. 
2. When we need high data availability and automatic, speed and instant recovery. 
3. If you have dynamic schema then mongdb is best option to reduce cost. 
4. If you are developing using modern agile methodologies, a relational database will slow you down. A NoSQL database doesn’t require the level of preparation typically needed for relational databases.
5. Cloud-based storage is a great solution, but it requires data to be easily spread across multiple servers for scaling. Using affordable hardware on-site for testing and then for production in the cloud is what NoSQL databases are designed for.

**2. State and explain features of Mongodb ?**

**Ans-** The following are some of MongoDB benefits and strengths:

* Dynamic schema: This gives you flexibility to change your data schema without modifying any of your existing data.

* Scalability: MongoDB is horizontally scalable, which helps reduce the workload and scale your business with ease.

* Manageability: The database doesn’t require a database administrator. Since it is fairly user-friendly in this way, it can be used by both developers and administrators.

* Speed: It’s high-performing for simple queries. 

* Flexibility: You can add new columns or fields on MongoDB without affecting existing rows or application performance.

* Adhoc queries optimization: MongoDB supports field queries, range queries, and regular expression searches. Queries can return specific fields and also account for user-defined functions. This is made possible because MongoDB indexes BSON documents and uses the MongoDB Query Language (MQL)

* Indexing appropriately for better performance: MongoDB offers a broad range of indices and features with language-specific sort orders that support complex access patterns to datasets. hey can also be declared on any field within any of your documents, including those nested within arrays.

**3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.?**

**Ans-** Please find the below code to connect python and creating database and collection in mongodb

In [88]:
import pymongo #Connection to Mongodb
client = pymongo.MongoClient("mongodb+srv://jineshj:Jekiparikh@cluster0.bktgc8x.mongodb.net/?retryWrites=true&w=majority")

In [91]:
db = client['Office'] # creating database 
coll_create = db['Employee'] #creating collection
coll_create

Collection(Database(MongoClient(host=['ac-wfpkhip-shard-00-01.bktgc8x.mongodb.net:27017', 'ac-wfpkhip-shard-00-02.bktgc8x.mongodb.net:27017', 'ac-wfpkhip-shard-00-00.bktgc8x.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-fsj61n-shard-0', tls=True), 'Office'), 'Employee')

**4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.**

**Ans** Inserting few documents in Employee Collection:

In [3]:
# Insert in one Document in Employee collection: 

coll_create.insert_one(
{"empid":1,"name":"Jinesh","dept":"IT"}
)

In [4]:
# fetching record 
coll_create.find_one({"empid":1})

{'_id': ObjectId('63f1edc78004ffc068ac3262'),
 'empid': 1,
 'name': 'Jinesh',
 'dept': 'IT'}

In [5]:
#Another way to fetch record if there is one record in collection
coll_create.find_one()

{'_id': ObjectId('63f1edc78004ffc068ac3262'),
 'empid': 1,
 'name': 'Jinesh',
 'dept': 'IT'}

In [7]:
# Insert many Documents in Employee collection: 

coll_create.insert_many([
{"empid":2,"name":"Darshan","dept":"Commission","emailid":"jjdarshan@s.com"},
{"empid":3,"name":"Pradeep","dept":"Technicion","loc":['Mumabai','Gurgoan']}]
)

In [8]:
# Fetching all the records

for i in coll_create.find():
    print(i)

{'_id': ObjectId('63f1edc78004ffc068ac3262'), 'empid': 1, 'name': 'Jinesh', 'dept': 'IT'}
{'_id': ObjectId('63f1ef7ea4b6f6ad575fe771'), 'empid': 1, 'name': 'Jinesh', 'dept': 'IT'}
{'_id': ObjectId('63f1ef9ca4b6f6ad575fe772'), 'empid': 2, 'name': 'Darshan', 'dept': 'Commission', 'emailid': 'jjdarshan@s.com'}
{'_id': ObjectId('63f1ef9ca4b6f6ad575fe773'), 'empid': 3, 'name': 'Pradeep', 'dept': 'Technicion', 'loc': ['Mumabai', 'Gurgoan']}

**5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.**

**Ans-** Selects documents in a collection or view and returns a cursor to the selected documents

In [27]:
#coll_create.update_many({"empid":1},{"$set":{"loc":["Kalyan","Pune","Mumbai"]}})
#coll_create.update_one({"empid":3},{"$set":{"loc":["Gurgoan","Mumbai"]}})


#1. Find the embedded document. 


for i in coll_create.find({"loc":"Kalyan"}):
    print(i)

{'_id': ObjectId('63f1edc78004ffc068ac3262'), 'empid': 1, 'name': 'Jinesh', 'dept': 'IT', 'loc': ['Kalyan', 'Pune', 'Mumbai']}
{'_id': ObjectId('63f1ef7ea4b6f6ad575fe771'), 'empid': 1, 'name': 'Jinesh', 'dept': 'IT', 'loc': ['Kalyan', 'Pune', 'Mumbai']}
{'_id': ObjectId('63f1ef9ca4b6f6ad575fe772'), 'empid': 2, 'name': 'Darshan', 'dept': 'Commission', 'emailid': 'jjdarshan@s.com', 'loc': ['Kalyan', 'Gurgoan', 'Mumabai']}

In [33]:
# Displaying name fields whose location is Kalyan

for i in coll_create.find({"loc":"Kalyan"},{"name":1,"_id":0}):
    print(i)

{'name': 'Jinesh'}
{'name': 'Jinesh'}
{'name': 'Darshan'}

In [38]:
# Limit number of documents 


'''coll_create.insert_many([
{"empid":4,"name":"Subhash","dept":"Sales","loc":"Kalyan"},
{"empid":5,"name":"Sujeeta","dept":"Enterpreneur","loc":['Kalyan','Sheoganj','Valsad']}]
)'''

for i in coll_create.find({},{"empid":1,"name":2,"_id":0}).limit(3):
    print(i)

{'empid': 1, 'name': 'Jinesh'}
{'empid': 1, 'name': 'Jinesh'}
{'empid': 2, 'name': 'Darshan'}

In [43]:
#Find the specific documents with conditional criteria

for i in coll_create.find({"empid":{"$gt":2}},{"empid":1,"name":2,"_id":0}):
    print(i)

{'empid': 3, 'name': 'Pradeep'}
{'empid': 4, 'name': 'Subhash'}
{'empid': 5, 'name': 'Sujeeta'}

In [51]:
#Find the specific documents with multiple conditional criteria

for i in coll_create.find({"$and":[
    {"empid":{"$gt":2}},
    {"loc":"Kalyan"}]},{"empid":1,"name":2,"loc":3,"_id":0}):
    print(i)

{'empid': 4, 'name': 'Subhash', 'loc': 'Kalyan'}
{'empid': 5, 'name': 'Sujeeta', 'loc': ['Kalyan', 'Sheoganj', 'Valsad']}

**6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.**

**Ans-**  Specifies the order in which the query returns matching documents. You must apply 
sort() to the cursor before retrieving any documents from the database.

In [84]:
# Sorting documents by name in descending order


for c in coll_create.find({},{"_id":0}).sort("name",pymongo.DESCENDING):
    print(c)

{'empid': 5, 'name': 'Sujeeta', 'dept': 'Enterpreneur', 'loc': ['Kalyan', 'Sheoganj', 'Valsad']}
{'empid': 4, 'name': 'Subhash', 'dept': 'Sales', 'loc': 'Kalyan'}
{'empid': 3, 'name': 'Pradeep', 'dept': 'Technicion', 'loc': ['Gurgoan', 'Mumbai']}
{'empid': 1, 'name': 'Jinesh', 'dept': 'IT', 'loc': ['Kalyan', 'Pune', 'Mumbai']}
{'empid': 1, 'name': 'Jinesh', 'dept': 'IT', 'loc': ['Kalyan', 'Pune', 'Mumbai']}
{'empid': 2, 'name': 'Darshan', 'dept': 'Commission', 'emailid': 'jjdarshan@s.com', 'loc': ['Kalyan', 'Gurgoan', 'Mumabai']}

In [85]:
# Sorting documents by empid in ascending order

for c in coll_create.find({},{"_id":0}).sort("empid",1):
    print(c)

{'empid': 1, 'name': 'Jinesh', 'dept': 'IT', 'loc': ['Kalyan', 'Pune', 'Mumbai']}
{'empid': 1, 'name': 'Jinesh', 'dept': 'IT', 'loc': ['Kalyan', 'Pune', 'Mumbai']}
{'empid': 2, 'name': 'Darshan', 'dept': 'Commission', 'emailid': 'jjdarshan@s.com', 'loc': ['Kalyan', 'Gurgoan', 'Mumabai']}
{'empid': 3, 'name': 'Pradeep', 'dept': 'Technicion', 'loc': ['Gurgoan', 'Mumbai']}
{'empid': 4, 'name': 'Subhash', 'dept': 'Sales', 'loc': 'Kalyan'}
{'empid': 5, 'name': 'Sujeeta', 'dept': 'Enterpreneur', 'loc': ['Kalyan', 'Sheoganj', 'Valsad']}

**7. Explain why delete_one(), delete_many(), and drop() is used.**

**Ans-** 

1. Delete_one(): The deleteOne() method deletes the first document from the collection that matches the given selection criteria. It will delete/remove a single document from the collection. It takes four parameters, the first parameter is the selection criteria and the others are optional.

In [87]:
# we have collection which 2 duplicate documents, we can delete one record. 

for i in coll_create.find({"empid":1}):
    print(i)

{'_id': ObjectId('63f1edc78004ffc068ac3262'), 'empid': 1, 'name': 'Jinesh', 'dept': 'IT', 'loc': ['Kalyan', 'Pune', 'Mumbai']}
{'_id': ObjectId('63f1ef7ea4b6f6ad575fe771'), 'empid': 1, 'name': 'Jinesh', 'dept': 'IT', 'loc': ['Kalyan', 'Pune', 'Mumbai']}

In [94]:
coll_create.delete_one({"empid":1}) #Delete specific results

In [96]:
#After Deletion
for i in coll_create.find({"empid":1}):
    print(i)

{'_id': ObjectId('63f1ef7ea4b6f6ad575fe771'), 'empid': 1, 'name': 'Jinesh', 'dept': 'IT', 'loc': ['Kalyan', 'Pune', 'Mumbai']}

2. Delete_many(): Deleting many documents in collections:

In [104]:
# Before Deletion

for i in coll_create.find({"loc":"Gurgoan"},{"_id":0}):
    print(i)

{'empid': 2, 'name': 'Darshan', 'dept': 'Commission', 'emailid': 'jjdarshan@s.com', 'loc': ['Kalyan', 'Gurgoan', 'Mumabai']}
{'empid': 3, 'name': 'Pradeep', 'dept': 'Technicion', 'loc': ['Gurgoan', 'Mumbai']}

In [105]:
# Deleting many records 


coll_create.delete_many({"loc":"Gurgoan"})

In [106]:
#After delete

for i in coll_create.find({"loc":"Gurgoan"},{"_id":0}):
    print(i)

In [109]:
# Fetch all records

for i in coll_create.find({},{"_id":0}):
    print(i)

{'empid': 1, 'name': 'Jinesh', 'dept': 'IT', 'loc': ['Kalyan', 'Pune', 'Mumbai']}
{'empid': 4, 'name': 'Subhash', 'dept': 'Sales', 'loc': 'Kalyan'}
{'empid': 5, 'name': 'Sujeeta', 'dept': 'Enterpreneur', 'loc': ['Kalyan', 'Sheoganj', 'Valsad']}

**3. Drop() : Removes a collection or view from the database. The method also removes any indexes associated with the dropped collection. The method provides a wrapper around the drop command.**

In [110]:
coll_create.drop()

In [ ]:
for i in coll_create.find({},{"_id":0}):
    print(i)