### Assignment 16 Feb

**1. What is a database? Differentiate between SQL and NoSQL databases. ?**

**Ans-** Oraganized collection of data stored electronically. Small amount of data can be stored persistent database like sqllite db files. And larger datbases is stored multiple computing cluster.

|SQL|NOSQL|
|-----|-----|
|Fixed or Static Schema or predefined schema| They have dynamic schema |
| Not well suited for hierarchical data| Well suited for heirarchical data|
| well suited for complex queries | not suited for complex queries|
|Horizontal Scalable | Vertical Scalable|
|Follows ACID property (Atomicity,Consistency,Isolate,Durability) | It follows CAP property (Consistency, Availablity, Partition Tolerance|
|Typically Joins are required| Mostlly joins are not required|
|Display data based on table based|Display data based on key value pair, document based, graph databases|

**2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.?**

**Ans-** Data Definition Language actually consists of the SQL commands that can be used to define the database schema. It simply deals with descriptions of the database schema and is used to create and modify the structure of database objects in the database. 

List of DDL commands: 

1. CREATE: This command is used to create the database or its objects (like table, index, function, views, store procedure, and triggers). 

**For  eg.  create table  if not exists practise.t2 (name varchar(23));**


2. DROP: This command is used to delete objects from the database. 

For eg. **Drop table practise.t2;**


3. ALTER: This is used to alter the structure of the database. 

**Alter table t2 add column c2 varchar(25);**

4. TRUNCATE: This is used to remove all records from a table, including all spaces allocated for the records are removed.


**Truncate table practise.t2;**

**3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.?**

**Ans-** The SQL commands that deals with the manipulation of data present in the database belong to DML or Data Manipulation Language. 

Please find the below few commands: 

1. INSERT : It is used to insert data into a table.

**INSERT INTO T2 VALUES ('ABC','PQR');**

**INSERT INTO T2 (name) VALUES ('ABC');**

2. UPDATE: It is used to update existing data within a table.

**UPDATE T2 SET name ='XYZ';** 

**UPDATE T2 SET name='QWE' where c2='PQR'** 


3. DELETE : It is used to delete records from a database table.

**DELETE FROM T2;**

**DELETE FROM T2 where name='QWE';**

**4. What is DQL? Explain SELECT with an example.**

**Ans-** DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. This command allows getting the data out of the database to perform operations with it. 

SELECT : We can retrive all the values of column and rows. We can perform expressions/ filter records and transform )

**select * from t2 ;** -- retrive all columns and rows of table. 

**select * from t2 where name='QWE';** --Retrive specific records 


**select name,c2 , LENGTH(c2) as LENGTH_OF_C2 from t2;** -- Performing expression on values

**5. Explain Primary Key and Foreign Key.**

**Ans-** 

1. Primary key: Key/ Columns which uniqely defines rows in the table. It does not conatain NULL values. 

___Example___

**Create table if not exists Table2 (id integer NOT NULL, name varchar(20), primary key (ID));** 

OR

**Create table if not exists Table2 (id integer, name varchar(20), Constraint pk_id primary key (ID));** 

2. Foreign key : Key/ Columns which acting as relations between two tables. Column from child table which is releated to parent table would be acting as primary key. 

___Example___

**Create table IF NOT EXISTS Student (sid integer not null, sname varchar(20), s_locatid integer , 
  PRIMARY KEY (SID),
FOREIGN KEY (s_locatid) REFERENCES Location(LID));**""

**CREATE TABLE IF NOT EXISTS LOCATION (LID integer NOT null, LOC_NAME varchar(20), Primary key (LID));**

**6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.?**

**Ans-**

In [ ]:
import mysql.connector

db_connect = mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password"
)
print(db_connect)
mcursor = db_connect.cursor()
mcursor.execute("show databases;")

db_connect.close()

1. Cursor() : The MySQLCursor class instantiates objects that can execute operations such as SQL statements. Cursor objects interact with the MySQL server using a MySQLConnection object.

2. Execute(): The execute () method helps us to execute the query and return records according to the query. It will return the count of the numbers of rows affected during the query.

**7. Give the order of execution of SQL clauses in an SQL query.?**

**Ans-** Order of execution in SQL: 

1. FROM TABLE
2. JOINS 
3. WHERE 
4. GROUP BY 
5. HAVING CLAUSE
6. SELECT 
7. ORDER BY 
8. LIMIT